# Виртуальное окружение
.venv/

# Секреты (игнорировать во всех папках)
**/.env

# База данных (везде)
**/*.db
**/*.db-journal

# Кэш Python
**/__pycache__/
**/*.pyc

# IDE
.idea/
.vscode/

# Системные файлы
.DS_Store